/* Navbar */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: black;
}
.navbar-nav > li > a {
  /* menu font color etc */
  font-size: 14px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a {
  /* menu text color */
  color: #ffffff;
}

/* navbar inverse */
.navbar-inverse {
  background-color: #34495e;
}
.navbar {
  font-size: 16px;
  min-height: 53px;
  margin-bottom: 5px;
  border: none;
  border-radius: 0px;
}

/* container fluid */
.navbar .container-fluid {
  padding-left: 50px;
  padding-right: 0px;
}

/* navbar brand */
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-brand {
  font-size: 20px;
  line-height: 1.042;
  height: 53px;
  font-weight: 700;
  padding: 17px 21px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #1abc9c;
  background-color: transparent;
}

/* navbar hover effect */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #1abc9c;
}

.navbar-inverse .navbar-btn {
  color: #ffffff;
  background-color: #1abc9c;
}
.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}
.btn {
  border: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
}

/* Navbar top hbox */
.navbar-tophbox {
  margin-left: 50px;
}

/* Style undo buttons */
.tools-btn-undo,
.tools-btn-redo {
  background-color: #34495e; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  margin-top: 11px;
  font-size: 16px; /* Set a font size */
  border-radius: 4px;
  padding: 6px 10px;
  line-height: 1.5;
}
.tools-btn-undo:hover,
.tools-btn-redo:hover {
  color: #1abc9c;
}

#refreshButton, #calRefreshButton, #texasRefreshButton, #rIslandRefreshButton{
  margin-right: 130px;
}




/* toggle */
.counties-toggle, .precincts-toggle {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-top: 11px;  
  margin-left: 50px; 
}

.counties-toggle input {display:none;}
.precincts-toggle input {display:none;}

/* counties toggle slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after
{
 content:'Show Counties';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 63%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'Hide Counties';
  left: 40%;
}


/* precincts toggle slider */
.precincts-toggle { 
  margin-left: 35px; 
}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider1 {
  background-color: gray;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider1:after
{
 content:'Show Precincts';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 63%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider1:after
{  
  content:'Hide Precincts';
  left: 40%;
}
